# Experimental Verification

## Overview

Entity extracted from 1 publications.

## Referenced in Publications

- [[../Publications/kwakoptimal2021|Optimal design and experimental verification of piezoelectric energy harvester with fractal structure]]
  - In section: ***8.3 CT-GIN Emergent Behavior Validation***
